!= js()
script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
script(type='text/javascript', src='js/jquery.js')
// Load ScrollTo
script(type='text/javascript', src='js/jquery.scrollTo-1.4.2-min.js')
// Load LocalScroll
script(type='text/javascript', src='js/jquery.localscroll-1.2.7-min.js')
// prettyPhoto Initialization
script(type='text/javascript', charset='utf-8').
    $(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto();
    });
script(type='text/javascript', src='js/bootstrap.js')
script(type='text/javascript', src='js/jquery.prettyPhoto.js')
script(type='text/javascript', src='js/site.js')