doctype html
html
  include header
  body
    .navbar-wrapper
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    h1.brand
                      a(href='#top') LOGO
                    nav.pull-right.nav-collapse.collapse
                      ul#menu-main.nav
                        li
                          a(title='portfolio', href='#portfolio') Portfolio
                        li
                          a(title='services', href='#services') Services
                        li
                          a(title='news', href='#news') News
                        li
                          a(title='team', href='#team') Team
                        li
                          a(title='contact', href='#contact') Contact
    #top
    block content
  include footer